
.TodoItem {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    padding: .5em 0;
}


.TodoItem-check {
    position: relative;
    display: block;
    width: 1em;
    height: .75em;
}

.TodoItem-check-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    margin: 0;
    cursor: pointer;
}

.TodoItem-text {
    flex-grow: 2;
    text-align: left;
    padding: 0 1em;
}

.TodoItem-text-completed {
    text-decoration-line: line-through;
    color: #999;
}

.TodoItem-completed .TodoItem-text {
    color: #999;
}

.TodoItem-action-delete {
    background: none;
    border: none;
    color: white;
    font-size: large;
    cursor: pointer;
}
