
.TodoList {
    margin: auto;
}

.TodoList-add-input {
    width: 100%;
    min-height: 2em;
    padding: .25em 0em;
    font-size: 1em;
    outline: 0;
}

.TodoList-items {
    padding-inline-start: 0;
}