.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-TodoList {
  width: 50%;
  margin: 0 auto;
}

.App-header {
  font-size: 2rem;
  padding: 2rem;
}

